ion-card {
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);

    margin-left: calc(max(10px, var(--ion-safe-area-left)));
    margin-right: calc(max(10px, var(--ion-safe-area-right)));
}

.index-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    .i {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 32px;
            height: 32px;
        }
    }


}