<div class="ui-overlay">
  <ion-chip class="num-of-planes ion-padding ion-margin-top"
            color="primary"
            *ngIf="!trackView && visiblePlanesSum !== 0">{{ visiblePlanesSum }} Aircrafts</ion-chip>
  <ion-fab *ngIf="trackView"
           slot="fixed"
           vertical="top"
           horizontal="start"
           (click)="exitTrackView()"
           class="arrow-back">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-airplane-stats-card *ngIf="selectedAnnotationData && trackView"
                           [selectedAnnotation]="selectedAnnotationData"></app-airplane-stats-card>
  <ion-fab *ngIf="!trackView"
           slot="fixed"
           vertical="bottom"
           horizontal="end"
           class="my-location-button">
    <ion-fab-button color="primary"
                    (click)="centerMapOnUser()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div #draggableContainer
       class="draggable-container">
    <app-airplane-card id="cardEl"
                       class="card-container"
                       #cardElement
                       [data]="selectedAnnotationData"></app-airplane-card>
  </div>
</div>
<div #mapContainer
     class="map-container">
</div>
<!-- [ngClass]="{'flight-view': trackView, 'portrait': trackView}" -->