<app-menu [contentId]="contentId"></app-menu>

<ion-header [translucent]="true"
            [id]="contentId">
  <ion-toolbar class="ion-color ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Flight Tracker</ion-title>
    <ion-buttons slot="end"
                 class="help-circle-button">
      <ion-button (click)="navigateToAbout()">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar [ngStyle]="{ 'visibility': isLoading ? 'visible' : 'hidden' }"
                    type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <app-map [trackView]="trackView"
             [selectedAnnotationData]="selectedAnnotationData"
             (isLoading)="startLoading()"></app-map>
  </div>
</ion-content>