/* main-page.component.scss */
ion-header {
    ion-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .help-circle-button ion-icon {
        width: 28px;
        height: 28px;
    }
}

ion-content {
    --overflow: hidden;
    position: relative;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* General styles for buttons to ensure they are always interactable */
ion-button {
    pointer-events: all;
}