:host {
    display: flex;
    align-items: center;
    transition: max-width 0.2s ease-in-out, max-height 0.2s ease-in-out, bottom ease-in-out, right ease-in-out;
    overflow: hidden;
    justify-self: end;
    align-self: center;
    padding-bottom: var(--ion-safe-area-bottom);
    padding-top: var(--ion-safe-area-top);
    padding-right: var(--ion-safe-area-right);
    position: relative;
    border-radius: var(--ion-border-radius-medium) var(--ion-border-radius-medium) 0 0;
    max-width: 600px;
}


.card-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-medium);
    color: var(--ion-color-primary-contrast);
    width: 100%;
    max-width: 75%;
    align-self: center;
    height: 2px;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.flight-card {
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    letter-spacing: 0.6px;
    width: inherit;
    background: linear-gradient(to bottom, var(--ion-color-step-100), var(--ion-color-step-50));
    background-color: var(--background);
    max-height: 75vh;
    padding: var(--ion-spacing-small);


    .flight-info {
        ion-card-title {
            max-width: 200px;
            font-size: var(--ion-font-size-large);
            color: var(--ion-color-primary);
            padding: 0 0 var(--ion-spacing-small) 0;
        }

        ion-card-subtitle {
            font-size: var(--ion-font-size-medium);
            color: var(--ion-text-color)
        }
    }

    .image-container {
        width: 100%;
        max-height: 150px;
        flex-shrink: 3;
        display: flex;
        overflow: hidden;
        position: relative;
        margin: var(--ion-padding) 0;
        padding: 0 var(--ion-padding-half);

        .flight-image {
            width: inherit;
            height: auto;
            object-fit: cover;
            visibility: hidden;
            border-radius: var(--ion-border-radius-medium);
        }

        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
    }

    .flight-header {
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        padding: var(--ion-padding);
        color: var(--ion-color-light);
        gap: var(--ion-spacing-large);
    }

    .airport-info {
        display: flex;
        justify-content: space-between;
        gap: var(--ion-spacing-small);
        padding-top: var(--ion-spacing-small);

        .airport {
            display: flex;
            flex-direction: column;
        }
    }

    ion-card-title,
    ion-card-subtitle {
        color: var(--ion-color-medium)
    }

}

@media (orientation: landscape) {
    :host {
        max-width: 450px;
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    :host {
        justify-content: flex-end;
    }

    .flight-card {
        ion-card-header {
            padding-left: var(--ion-padding);
            padding-right: var(--ion-padding);
            padding-top: var(--ion-padding);
            padding-bottom: var(--ion-padding-half);
        }

        .image-container {
            max-height: 125px;
        }

        ion-card-content {
            padding: calc(var(--ion-padding) / 2) var(--ion-padding);
        }
    }
}